<!-- Javascript -->
<script type="text/javascript" src="#getAssetsPath('static/jquery-2.1.4/jquery.js')"></script>
<script type="text/javascript" src="#getAssetsPath('static/bootstrap/js/bootstrap.min.js')"></script>
<script type="text/javascript" src="#getAssetsPath('static/vue/vue.min.js')"></script>
<script type="text/javascript" src="#getAssetsPath('static/element-ui/lib/index.js')"></script>


