<!-- Javascript -->
<script type="text/javascript" src="#getAssetsPath('static/bootstrap/js/bootstrap.min.js')"></script>
<script type="text/javascript" src="#getAssetsPath('static/vue/vue.min.js')"></script>

